@import "tabdrop.less";


@white: 	#fff;

@gray: 		#dbdbdb;
@lightgray: #eeeeee;
@darkgray: 	#3a3b3b;

@btn-gray: 	#666666;

@green: 	#00793a;

@blue: 		#002d84;

@ftr-bg: 	#fafafa;
@ftr-br: 	#ededed;
@ftr-txt: 	#838990;


#fixed-header {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#header {
	border-top: 5px solid @darkgray;
	border-radius: 0;
	background-color: @white;
	margin-bottom: 0;

	.navbar-brand {
		height: 70px;
		padding: 25px 15px;
	}

	.navbar-nav {
		li {
			a {
				line-height: 40px;
				color: @green;
				font-size: 15px;
				font-weight: 500;
				padding-left: 20px;
				padding-right: 20px;

				img {
					margin-right: 15px;
				}

				.badge {
					background-color: @darkgray;
				}
			}

			&.dropdown {
				border-left: 1px solid @lightgray;
			}
		}
	}
}

#report-breadcrumb {
	background-image: -webkit-linear-gradient(top,@darkgray 0,#222 100%);
	background-image: -o-linear-gradient(top,@darkgray 0,#222 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(@darkgray),to(#222));
	background-image: linear-gradient(to bottom,@darkgray 0,#222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;

	color:@white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	font-size: 12px;
	font-weight: bold;

	.report-section {
		line-height: 50px;

	}

	.piq-contact {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				line-height: 50px;

				&:first-child {
					margin-right: 15px;
				}

				a {
					color:@white;
					&:hover {
						color: lighten(@green, 5%);
						text-decoration: none;
					}
				}
			}
		}
	}
}

#report-header {
	background-color: @gray;
	border-bottom: 1px solid @darkgray;
	padding: 25px 0 0 0;

	h1 {
		color: @blue;
		margin: 0;
		padding: 0;
		font-size: 24px;
		line-height: 1;
	}

	.btn-group {
		margin-bottom: 25px;

		.btn {
			padding-left: 0;
			padding-right: 0;
			color: @darkgray;

			&.btn-link {
				color: @darkgray;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.btn-print-report {
		text-transform: uppercase;
		color:@btn-gray;
		border-color: @btn-gray;
		font-size: 12px;
	}

	.nav-tabs {
		li {
			margin-bottom:  -2px;

			a {
				padding-right: 8px;
				padding-left: 8px;
				color: @btn-gray;

				&:hover {
					border-bottom-color: @darkgray;
				}
			}

			&.active {
				a {
					font-weight: bold;
					color: @blue;

					&:hover {
						border-bottom-color: @white;
					}
				}
			}
		}
	}
}

.report-list {
	padding-top: 280px;
}

#footer {
	background-color: @ftr-bg;
	border-top: 1px solid @ftr-br;
	color:@ftr-txt;
	font-size: 12px;
	line-height: 50px;

	p {
		margin: 0;
	}
}