/*!
 * Tab drop for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.nav-tabs,
.nav-pills {
  position: relative;
}
#fixed-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#header {
  border-top: 5px solid #3a3b3b;
  border-radius: 0;
  background-color: #ffffff;
  margin-bottom: 0;
}
#header .navbar-brand {
  height: 70px;
  padding: 25px 15px;
}
#header .navbar-nav li a {
  line-height: 40px;
  color: #00793a;
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}
#header .navbar-nav li a img {
  margin-right: 15px;
}
#header .navbar-nav li a .badge {
  background-color: #3a3b3b;
}
#header .navbar-nav li.dropdown {
  border-left: 1px solid #eeeeee;
}
#report-breadcrumb {
  background-image: -webkit-linear-gradient(top, #3a3b3b 0, #222222 100%);
  background-image: -o-linear-gradient(top, #3a3b3b 0, #222222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a3b3b), to(#222222));
  background-image: linear-gradient(to bottom, #3a3b3b 0, #222222 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: bold;
}
#report-breadcrumb .report-section {
  line-height: 50px;
}
#report-breadcrumb .piq-contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#report-breadcrumb .piq-contact ul li {
  display: inline-block;
  line-height: 50px;
}
#report-breadcrumb .piq-contact ul li:first-child {
  margin-right: 15px;
}
#report-breadcrumb .piq-contact ul li a {
  color: #ffffff;
}
#report-breadcrumb .piq-contact ul li a:hover {
  color: #009346;
  text-decoration: none;
}
#report-header {
  background-color: #dbdbdb;
  border-bottom: 1px solid #3a3b3b;
  padding: 25px 0 0 0;
}
#report-header h1 {
  color: #002d84;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1;
}
#report-header .btn-group {
  margin-bottom: 25px;
}
#report-header .btn-group .btn {
  padding-left: 0;
  padding-right: 0;
  color: #3a3b3b;
}
#report-header .btn-group .btn.btn-link {
  color: #3a3b3b;
}
#report-header .btn-group .btn.btn-link:hover {
  text-decoration: none;
}
#report-header .btn-print-report {
  text-transform: uppercase;
  color: #666666;
  border-color: #666666;
  font-size: 12px;
}
#report-header .nav-tabs li {
  margin-bottom: -2px;
}
#report-header .nav-tabs li a {
  padding-right: 8px;
  padding-left: 8px;
  color: #666666;
}
#report-header .nav-tabs li a:hover {
  border-bottom-color: #3a3b3b;
}
#report-header .nav-tabs li.active a {
  font-weight: bold;
  color: #002d84;
}
#report-header .nav-tabs li.active a:hover {
  border-bottom-color: #ffffff;
}
.report-list {
  padding-top: 280px;
}
#footer {
  background-color: #fafafa;
  border-top: 1px solid #ededed;
  color: #838990;
  font-size: 12px;
  line-height: 50px;
}
#footer p {
  margin: 0;
}
